@charset "utf-8";

html {
    // ここで100%と指定し，各タグではremを使ってfont-sizeの調整を行うこと。
    font-size: 100%;
    color: #323339;
}

body {
    // コーディングしやすくするために行間を1にしておいた。
    line-height: 1;
    // height: 100vh;が効かない場合（スクロールすると背景が切れる問題）の対処法↓
    min-height: 100vh;
    background-image: url(../img/フリー素材_イタリア_山脈.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: #dfe2d2;
}

ul {
    // liの左点の削除。
    list-style: none;
}

header {
    // ヘッダーの背景色を指定。
    background-color: #f26968;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header nav .wrapper {
    // 最大幅を指定している。これ以上大きくならない。
    width: 1400px;
    // ウィンドウ幅に対して95%分の範囲が横幅になる。
    // widthで最大幅，max-widthで最大％を指定することで，
    // 例えばウィンドウ幅の95%分の長さが1400pxを超えた場合，横幅は1400pxとなり超過分はmarginになる。
    // 例えばウィンドウ幅の95%分の長さが1400pxを下回る場合，その95%分の値が横幅になる。
    max-width: 95%;
    // 中央寄せ。
    margin: 0 auto;
    // フレックス。
    display: flex;
}

header nav .wrapper h1 {
    // 行間の指定。サイトメニューの側もこれに合う形になる。
    line-height: 50px;
    user-select: none;
}

header nav .wrapper .headerSiteMenu {
    // marginのleftをautoにしつつ，rightを0にすると取り得る全ての余白がmargin-leftに割り振られる。
    margin-left: auto;
}

header nav .wrapper .headerSiteMenu ul {
    // フレックス。
    display: flex;
    // 行間の指定。h1と同じ値。align-itemsを有効にするためでもある。
    line-height: 50px;
    // サイトメニューの各項目を縦軸に対して中央揃えにしている。
    align-items: center;
    user-select: none;
}

// 隣接結合。サイドメニューの各項目の余白を作成している。
header nav .wrapper .headerSiteMenu ul li + li {
    margin-left: 15px;
}

header nav .wrapper .headerSiteMenu ul li i {
    margin-right: 5px;
}

main .container {
    // ポジショニング。
    position: absolute;
    top: 150px;
    // widthを絶対値, leftおよびrightを0にした上で，marginの左右をautoにすると中央寄せになる。
    left: 0;
    right: 0;
    width: 420px;
    margin: 0 auto;
    // 内側の余白指定。
    padding: 10px 50px;
    // 色指定。
    background: #dfe2d2;
    // 角丸指定。
    border-radius: 10px;
    // 影指定。
    // box-shadow: 1px 1px 1px #3e3e3e, 0 0 1px 1px #3e3e3e;
    // ジェネレーターを使用して作った。
    box-shadow: 0px 0px 15px -1px #3e3e3e;
}

main .container h2 {
    // 外側の余白指定。
    margin: 10px 0 15px;
    // テキストを中央寄せ。
    text-align: center;
}

main .container div form div input {
    // 内側と外側の余白指定。
    border-bottom: 1px solid #323339;
    margin-bottom: 15px;
    // 親要素一杯まで横幅を占有。
    width: 100%;
}

main .container div form div {
    // ポジショニングに必要。
    position: relative;
}

main .container div form div .registerButton,
main .container div form div .loginButton {
    // 横幅指定。
    width: 49px;
    // margin-rightが0なので，占有できる全ての余白がmargin-leftになる。
    margin-left: auto;
    // 色指定。
    background-color: #6cbf84;
    // 内側の余白指定。
    padding: 8px;
    // 角丸指定。
    border-radius: 4px;
}

main .container div form div .loginButton {
    // 横幅指定。
    width: 80px;
}

main .container div form div .loginButton a {
    // ポジショニング。ログインボタンからの絶対的な位置指定。
    position: absolute;
    left: -221px;
    top: 0;
    // 色指定。
    background-color: #dfe2d2;
    color: rgb(61, 61, 255);
    // 下線。
    border-bottom: 1px solid rgb(61, 61, 255);
}

main .container div form div .registerButton button,
main .container div form div .loginButton button {
    // 色指定。
    color: #dfe2d2;
}

// サイドパネルのコーディングここから。
#checkbox {
    display: none;
}

#checkboxLabel {
    position: fixed;
    top: 200px;
    right: 0;
    transition: all 0.5s;
    background: #dfe2d2;
    color: #323339;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: #3e3e3e solid 1px;
    border-right: none;
    // box-shadow: 1px 1px 1px #3e3e3e, 0 0 1px 1px #3e3e3e;
    box-shadow: 0px 0px 15px -1px #3e3e3e;
}

#checkboxLabel i {
    font-size: 2rem;
    line-height: 40px;
    color: #dfe2d2;
    color: #323339;
    transition: all 0.5s;
}

#sideBar {
    background-color: #dfe2d2;
    position: fixed;
    top: 100px;
    right: -400px;
    width: 400px;
    height: 400px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border: #3e3e3e solid 1px;
    // box-shadow: 1px 1px 1px #3e3e3e, 0 0 1px 1px #3e3e3e;
    box-shadow: 0px 0px 15px -1px #3e3e3e;
    /* イージング。 */
    transition: all 0.5s;
}

#checkbox:checked ~ #sideBar {
    right: 0;
}

#checkbox:checked ~ #checkboxLabel {
    right: 400px;
}

#checkbox:checked ~ #checkboxLabel i {
    transform: rotate(180deg);
}
// サイドパネルのコーディングここまで。

// サイドパネル（中身）のコーディングここから。
#sideBar form {
    padding: 10px 50px;
    user-select: none;
}
#sideBar h2 {
    margin: 10px 0 15px;
    text-align: center;
    user-select: none;
}
#sideBar input,
#sideBar textarea {
    margin-bottom: 15px;
    line-height: 1.3;
    width: 100%;
    border-bottom: 1px solid #323339;
    margin-top: 5px;
    letter-spacing: 1px;
}
#sideBar input {
    display: block;
}
#sideBar #createButton {
    width: 48px;
    margin-left: auto;
}
#sideBar #createButton button {
    display: inline-block;
    line-height: 32px;
    padding: 0 8px;
    background-color: #6cbf84;
    color: #dfe2d2;
    border-radius: 4px;
}
// サイドパネル（中身）のコーディングここまで。

// エラーメッセージやサクセスメッセージなど…
main #errorMsg {
    // ポジショニング。
    position: fixed;
    top: 20px;
    // leftとrightを0に，widthを絶対値指定した上でmarginの左右をautoにすると，中央寄せになる。
    left: 0;
    right: 0;
    // 横幅指定。
    width: 500px;
    // 内側の余白指定。
    padding: 10px 10px;
    // 中央寄せ。
    margin: 0 auto;
    // フォントサイズ指定。
    font-size: 1.375rem;
    // テキストを中央揃えにしている。
    text-align: center;
    // 色指定。
    color: #fff;
    background-color: #e74c3c;
    // 角丸指定。
    border-radius: 4px;
    // 要素の重なりを一番上にしている。
    z-index: 1000;
    // イージング。
    transition: opacity 0.3s;
}
main #errorMsg.fadeOut {
    // 完全透明にし，範囲選択を禁止にし，クリックできないようにしている。
    opacity: 0;
    pointer-events: none;
    user-select: none;
}
main #successMsg {
    // ポジショニング。
    position: fixed;
    top: 20px;
    // leftとrightを0に，widthを絶対値指定した上でmarginの左右をautoにすると，中央寄せになる。
    left: 0;
    right: 0;
    // 横幅指定。
    width: 300px;
    // 内側の余白指定。
    padding: 10px 10px;
    // 中央寄せ。
    margin: 0 auto;
    // フォントサイズ指定。
    font-size: 1.375rem;
    // テキストを中央揃えにしている。
    text-align: center;
    // 色指定。
    color: #fff;
    background-color: #00a690;
    // 角丸指定。
    border-radius: 4px;
    // 要素の重なりを一番上にしている。
    z-index: 1000;
    // イージング。
    transition: opacity 0.3s;
}
main #successMsg.fadeOut {
    // 完全透明にし，範囲選択を禁止にし，クリックできないようにしている。
    opacity: 0;
    pointer-events: none;
    user-select: none;
}
main #ngMsg {
    // ポジショニング。
    position: fixed;
    top: 20px;
    // leftとrightを0に，widthを絶対値指定した上でmarginの左右をautoにすると，中央寄せになる。
    left: 0;
    right: 0;
    // 横幅指定。
    width: 520px;
    // 内側の余白指定。
    padding: 10px 10px;
    // 中央寄せ。
    margin: 0 auto;
    // フォントサイズ指定。
    font-size: 1.375rem;
    // テキストを中央揃えにしている。
    text-align: center;
    // 色指定。
    color: #fff;
    background-color: #e74c3c;
    // 角丸指定。
    border-radius: 4px;
    // 要素の重なりを一番上にしている。
    z-index: 1000;
    // イージング。
    transition: opacity 0.3s;
}
main #ngMsg.fadeOut {
    // 完全透明にし，範囲選択を禁止にし，クリックできないようにしている。
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.typingTable {
    background-color: #323339;
    color: #dfe2d2;
    width: 50%;
    margin: 100px 0 50px 50px;
    padding: 0 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #3e3e3e, 0 0 1px 1px #3e3e3e;
    display: flex;
    align-items: center;
}

.typingTable h2 {
    font-size: 2rem;
    line-height: 50px;
    user-select: none;
}

#startButtonParent {
    margin-left: auto;
}

#startButton,
#questionButton,
#deleteListButton,
#topPageButton {
    font-size: 2rem;
    color: #dfe2d2;
}

#questionButton,
#deleteListButton,
#topPageButton {
    padding-left: 10px;
}

#typingModalWindow {
    position: fixed; // ページ全体を基準にポジショニング。
    top: 200px;
    left: 0;
    right: 0;
    width: 500px;
    margin: 0 auto;
    padding: 10px 20px;
    z-index: 100;
    background-color: #323339;
    color: #dfe2d2;
    border-radius: 4px;
}
#typingModalWindow.hidden {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}
#typingModalWindow p {
    user-select: none;
    font-size: 1.5rem;
    text-align: center;
}
#typingModalWindow #target {
    margin-top: 20px;
}
table {
    color: #dfe2d2;
}
.List {
    background-color: #323339;
    color: #dfe2d2;
    margin: 50px 0 50px 50px;
    width: 50%;
    padding: 10px 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #3e3e3e, 0 0 1px 1px #3e3e3e;
    font-size: 1.175rem;
    user-select: none;
    line-height: 1.2;
}
.List.trashedList,
.List.questionList {
    margin-top: 100px;
}
main .List thead tr {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
main .List tbody .tr {
    padding: 5px;
    // フレックスにして横並びにすることが重要。これを忘れない。
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}
main .List tbody .tr td:first-child {
    margin-right: 5px;
}
main .List tbody .tr td:nth-of-type(3) {
    margin-left: 5px;
}
main .List tbody .tr td:last-child {
    margin-left: auto;
}
main .List tbody #tableTargetBody {
    display: none;
    padding: 5px;
    word-break: break-all;
}
main .List tbody #tableTargetBody.open {
    display: block;
}
main .List tbody .tr td:last-child i {
    transition: transform 0.2s;
}
main .List tbody .tr td:last-child.open i {
    transform: rotateX(180deg);
}
.List tbody .tr td form button #trashButton {
    color: #dfe2d2;
}
#restoreIcon {
    font-size: 1.2rem;
    color: #dfe2d2;
}
main .zeroText {
    background-color: #323339;
    color: #dfe2d2;
    margin: 100px 0 50px 50px;
    width: 50%;
    padding: 10px 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #3e3e3e, 0 0 1px 1px #3e3e3e;
    font-size: 1.175rem;
    user-select: none;
    line-height: 1.2;
}

#mask {
    // 背景色の指定。若干透明にしている。
    background: #dfe2d2;
    opacity: 0.7;
    // positionをfixedに，topとleft,right,bottomを全て0にすることでマスク部分を作っている。
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
}
#mask.hidden {
    display: none;
}

footer p {
    position: absolute;
    width: 120px;
    right: 0;
    left: 0;
    bottom: 5px;
    margin-left: auto;
    margin-right: 0;
    font-weight: bold;
    color: #ffffff;
}
