@charset "UTF-8";
html {
  font-size: 100%;
  color: #323339;
}

body {
  line-height: 1;
  min-height: 100vh;
  background-image: url(/images/フリー素材_イタリア_山脈.jpg?5c2171a4167e94996f29bc4b86718a24);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #dfe2d2;
}

ul {
  list-style: none;
}

header {
  background-color: #f26968;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 6px -1px #f67474;
  z-index: 500;
}
header nav .wrapper {
  width: 1400px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
}
header nav .wrapper h1 {
  line-height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header nav .wrapper .headerSiteMenu {
  margin-left: auto;
}
header nav .wrapper .headerSiteMenu ul {
  display: flex;
  line-height: 50px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header nav .wrapper .headerSiteMenu ul li + li {
  margin-left: 15px;
}
header nav .wrapper .headerSiteMenu ul li i {
  margin-right: 5px;
}

main .container {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  width: 420px;
  margin: 0 auto;
  padding: 10px 50px;
  background: #dfe2d2;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -1px #3e3e3e;
}

main .container h2 {
  margin: 10px 0 20px;
  text-align: center;
}

main .container div form div input {
  border-bottom: 1px solid #323339;
  margin-bottom: 15px;
  width: 100%;
}

main .container div form div {
  position: relative;
}

main .container div form div .registerButton,
main .container div form div .loginButton {
  width: 49px;
  margin-left: auto;
  background-color: #6cbf84;
  padding: 8px;
  border-radius: 4px;
}

main .container div form div .loginButton {
  width: 80px;
}

main .container div form div .loginButton a {
  position: absolute;
  left: -221px;
  top: 0;
  background-color: #dfe2d2;
  color: rgb(61, 61, 255);
  border-bottom: 1px solid rgb(61, 61, 255);
}

main .container div form div .registerButton button,
main .container div form div .loginButton button {
  color: #dfe2d2;
}

#checkbox {
  display: none;
}

#checkboxLabel {
  position: fixed;
  top: 200px;
  right: 0;
  transition: right 0.5s;
  background: #dfe2d2;
  color: #323339;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: #3e3e3e solid 1px;
  border-right: none;
  box-shadow: 0px 0px 15px -1px #3e3e3e;
}

#checkboxLabel i {
  font-size: 2rem;
  line-height: 40px;
  color: #323339;
  transition: transform 0.5s;
}

#sideBar {
  position: fixed;
  top: 100px;
  right: -400px;
  width: 400px;
  height: 400px;
  background-color: #dfe2d2;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border: #3e3e3e solid 1px;
  box-shadow: 0px 0px 15px -1px #3e3e3e;
  transition: right 0.5s;
}

#checkbox:checked ~ #sideBar {
  right: 0;
}

#checkbox:checked ~ #checkboxLabel {
  right: 400px;
}

#checkbox:checked ~ #checkboxLabel i {
  transform: rotate(180deg);
}

#sideBar form {
  padding: 10px 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#sideBar h2 {
  margin: 10px 0 15px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#sideBar input,
#sideBar textarea {
  margin-bottom: 15px;
  line-height: 1.3;
  width: 100%;
  border-bottom: 1px solid #323339;
  margin-top: 5px;
  letter-spacing: 1px;
}

#sideBar #createButton {
  width: 48px;
  margin-left: auto;
}

#sideBar #createButton button {
  line-height: 32px;
  padding: 0 8px;
  background-color: #6cbf84;
  color: #dfe2d2;
  border-radius: 4px;
}

#sideBar #createButton button:focus {
  background-color: #00a690;
  transform: scale(1.1);
}

main #errorMsg {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  width: 500px;
  padding: 10px 10px;
  margin: 0 auto;
  font-size: 1.375rem;
  text-align: center;
  color: #fff;
  background-color: #e74c3c;
  border-radius: 4px;
  z-index: 1000;
  transition: opacity 0.3s;
}

main #errorMsg.fadeOut {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

main #successMsg {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  width: 300px;
  padding: 10px 10px;
  margin: 0 auto;
  font-size: 1.375rem;
  text-align: center;
  color: #fff;
  background-color: #00a690;
  border-radius: 4px;
  z-index: 1000;
  transition: opacity 0.3s;
}

main #successMsg.fadeOut {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

main #ngMsg {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  width: 520px;
  padding: 10px 10px;
  margin: 0 auto;
  font-size: 1.375rem;
  text-align: center;
  color: #fff;
  background-color: #e74c3c;
  border-radius: 4px;
  z-index: 1000;
  transition: opacity 0.3s;
}

main #ngMsg.fadeOut {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

main #MsgIcon {
  font-size: 2rem;
}

.invalid-feedback strong {
  display: block;
  margin-bottom: 5px;
  color: #e74c3c;
}

.typingTable {
  background-color: #323339;
  color: #dfe2d2;
  width: 50%;
  margin: 100px 0 50px 50px;
  padding: 0 20px;
  border-radius: 4px;
  border: solid #3e3e3e 1px;
  box-shadow: 0px 0px 15px -1px #3e3e3e;
  display: flex;
  align-items: center;
}

.typingTable h2 {
  font-size: 1.7rem;
  line-height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#startButtonParent {
  margin-left: auto;
}

#startButton,
#questionButton,
#deleteListButton,
#topPageButton {
  font-size: 2rem;
  color: #dfe2d2;
  cursor: pointer;
}

#questionButton,
#deleteListButton,
#topPageButton {
  padding-left: 10px;
}

#typingModalWindow {
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  width: 850px;
  margin: 0 auto;
  padding: 10px 20px;
  z-index: 100;
  background-color: #323339;
  color: #dfe2d2;
  border-radius: 4px;
}

#typingModalWindow.hidden {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

#typingModalWindow p {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.5rem;
  text-align: center;
}

#typingModalWindow #target {
  margin-top: 20px;
}

table {
  color: #dfe2d2;
}

.List {
  background-color: #323339;
  color: #dfe2d2;
  margin: 50px 0 50px 50px;
  width: 50%;
  padding: 10px 10px;
  border-radius: 4px;
  border: solid #3e3e3e 1px;
  box-shadow: 0px 0px 15px -1px #3e3e3e;
  font-size: 1.175rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  line-height: 1.2;
}

.List.trashedList,
.List.questionList {
  margin-top: 100px;
}

main .List thead tr {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

main .List tbody .tr {
  padding: 5px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

main .List tbody .tr td:first-child {
  margin-right: 5px;
}

main .List tbody .tr td:nth-of-type(3) {
  margin-left: 5px;
}

main .List tbody .tr td:last-child {
  margin-left: auto;
  cursor: pointer;
}

main .List tbody #tableTargetBody {
  display: none;
  padding: 5px;
  word-break: break-all;
}

main .List tbody #tableTargetBody.open {
  display: block;
}

main .List tbody .tr td:last-child i {
  transition: transform 0.2s;
}

main .List tbody .tr td:last-child.open i {
  transform: rotateX(180deg);
}

.List tbody .tr td form button #trashButton {
  color: #dfe2d2;
}

#restoreIcon {
  font-size: 1.2rem;
  color: #dfe2d2;
}

main .zeroText {
  background-color: #323339;
  color: #dfe2d2;
  margin: 50px 0 50px 50px;
  width: 50%;
  padding: 10px 10px;
  border-radius: 4px;
  border: solid #3e3e3e 1px;
  box-shadow: 0px 0px 15px -1px #3e3e3e;
  font-size: 1.175rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  line-height: 1.2;
}

main .zeroText.trashedList {
  margin-top: 100px;
}

#mask {
  background: #dfe2d2;
  opacity: 0.7;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50;
}

#mask.hidden {
  display: none;
}

.parent-balloon {
  position: relative;
}

.parent-balloon .balloon {
  position: absolute;
  top: -30px;
  left: -15px;
  display: none;
  padding: 0 7px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: normal;
  color: #323339;
  background-color: #dfe2d2;
  border-radius: 5px;
  box-shadow: 0px 0px 30px -5px #3e3e3e;
  pointer-events: none;
  font-size: 1.2rem;
}

.parent-balloon .balloon::before {
  content: "";
  position: absolute;
  top: 97%;
  left: 29px;
  border: 6px solid transparent;
  border-top: 6px solid #dfe2d2;
}

.parent-balloon:hover .balloon {
  display: inline-block;
  width: 70px;
}

.parent-balloon .balloon.deletedList {
  width: 120px;
}

footer p {
  position: absolute;
  width: 120px;
  right: 0;
  left: 0;
  bottom: 5px;
  margin-left: auto;
  margin-right: 0;
  font-weight: bold;
  color: #ffffff;
}
